# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# MLflow
mlruns/

# Model
*.pkl
*.joblib

# Cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store